!!! XML
%kml{:xmlns => "http://www.opengis.net/kml/2.2"}
  %Placemark
    %name The Pentagon
    %Polygon
      -#
        %extrude 1
        %altitudeMode relativeToGround
      %outerBoundaryIs
        %LinearRing
          %coordinates
            \-77.05788457660967,38.87253259892824
            \-77.05465973756702,38.87291016281703
            \-77.05315536854791,38.87053267794386
            \-77.05788457660967,38.87253259892824
