%html
  %head
    :css
      html, body { 
        color: #999;
        font-size: 12px;
        height: 100%; 
        margin: 0; 
        padding: 0;
        font-family: helvetica, arial, sans-serif;
      }
      .infowindow_container {
        width: 510px; 
        height: 290px; 
        padding: 10px 0;
      }
      .gcid_container {
        left: 30px;
        position: absolute;
        top: 0px;
        z-index: 2;
      }
      #chart_div {
        margin-top: 10px;
        width: 490px;
        height: 280px;
      }
  %body
    %div 
      = yield
    %script{:type=>'text/javascript', :src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    %script{:type=>'text/javascript', :src=>"http://maps.google.com/maps/api/js?sensor=false"}
    %script{:type=>'text/javascript', :src=>"https://www.google.com/jsapi?key=ABQIAAAADv5MOrYU2_MYx-oqryEvNRQErogP314rmufJr2IfIfVInM4YABTvVl83ooMziJdm-8TsHpk8WOA6Fg"}
    %script{:type=>'text/javascript', :src=>"/ea/javascripts/jq/jquery.flot.min.js"}
    = javascript_include_tag('application')
    :javascript
      var jq = jQuery.noConflict();
      google.load("visualization", "1", {packages:["corechart", "imagechart"]});
      jq(document).ready(function() {
        EA.init();
      });
